on init
    chown root root /dev/trans_sched
    chmod 0666 /dev/trans_sched

on property:init.svc.zygote=running
    start vendor.trans_sched_aidl

on post-fs-data
    mkdir /data/vendor/trans_sched/ 0775 system system

service vendor.trans_sched_aidl /vendor/bin/hw/vendor.transsion.performance.sched.aidl-service
    class core
    class hal
    user root
    group root system
    disabled
